body{
    background-color: turquoise;
}
h1{
    color: red;
    font-size: 36px;
}
#wrapper{
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
#subwrapper{
    display:flex;
    flex-direction: row;
    justify-content: right auto;
    align-items: right;
    margin:auto;
}
.first{
    width: 40%;
}
#second{
    width: 40%
}